/* Apply styles to the page */

.app {
  height: 100vh;
  background-image: url("./OnBoarding.svg"); /* Replace with your actual background image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.get-started-btn {
  background-color: #fef08a;
  color: #1d4ed8;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.get-started-btn:hover {
  background-color: #e5d835;
}
